Estudio de datos sobre la excel de logista en su inventario

In [1]:
# Cargamos la librería pandas
import pandas as pd

# Cargamos el archivo de Excel
df = pd.read_excel('inventory.xlsx')

# Mostramos las primeras 5 filas del DataFrame
df.head()

,System Name,Name,Enviroment,Virtual,Location,Cl subtype,Manufacturer,Model,System Status,Solution Category,...,Discovered Version,Full CI Name,Instance Assignment Group,Instance Type,Delivery Instance Owner Backup,Instance Last detected on,Kernel Version,Product ID,Product Edition,Software/Firmware Version
0,wfptopor05.logista.com,wfptopor05,Production,no,MIDSID Oporto,ACCESS-POINT,ARUBA,INSTANT ACCESS POINT 304,in production,os,...,Version 6.5.4.4,NaN,NaN,NaN,,NaT,NaN,NaN,NaN,Version 6.5.4.4
1,wfptopor04.logista.com,wfptopor04,Production,no,MIDSID Oporto,ACCESS-POINT,ARUBA,INSTANT ACCESS POINT 304,in production,os,...,Version 6.5.4.4,NaN,NaN,NaN,,NaT,NaN,NaN,NaN,Version 6.5.4.4
2,wfptopor03.logista.com,wfptopor03,Production,no,MIDSID Oporto,ACCESS-POINT,ARUBA,INSTANT ACCESS POINT 304,in production,os,...,Version 6.5.4.4,NaN,NaN,NaN,,NaT,NaN,NaN,NaN,Version 6.5.4.4
3,wfptopor02.logista.com,wfptopor02,Production,no,MIDSID Oporto,ACCESS-POINT,ARUBA,INSTANT ACCESS POINT 304,in production,os,...,Version 6.5.4.4,NaN,NaN,NaN,,NaT,NaN,NaN,NaN,Version 6.5.4.4
4,wfptopor01.logista.com,wfptopor01,Production,no,MIDSID Oporto,ACCESS-POINT,ARUBA,INSTANT ACCESS POINT 304,in production,os,...,Version 6.5.4.4,NaN,NaN,NaN,,NaT,NaN,NaN,NaN,Version 6.5.4.4

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 28 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   System Name                     6018 non-null   object
 1   Name                            6018 non-null   object
 2   Enviroment                      6018 non-null   object
 3   Virtual                         5830 non-null   object
 4   Location                        5810 non-null   object
 5   Cl subtype                      5474 non-null   object
 6   Manufacturer                    2272 non-null   object
 7   Model                           2245 non-null   object
 8   System Status                   6018 non-null   object
 9   Solution Category               6018 non-null   object
 10  Solution Name                   6018 non-null   object
 11  OS Class                        6018 non-null   object
 12  OS Version                      6018 non-null   object
 13  Instance Name                   1738 non-null   object
 14  Instance Status                 6018 non-null   object
 15  Instance Service Level          5542 non-null   object
 16  Build Number                    753 non-null    object
 17  Business Description            1621 non-null   object
 18  Discovered Version              4347 non-null   object
 19  Full CI Name                    2486 non-null   object
 20  Instance Assignment Group       2417 non-null   object
 21  Instance Type                   297 non-null    object
 22  Delivery Instance Owner Backup  6018 non-null   object
 23  Instance Last detected on       1898 non-null   datetime64[ns]
 24  Kernel Version                  818 non-null    object
 25  Product ID                      437 non-null    object
 26  Product Edition                 342 non-null    object
 27  Software/Firmware Version       5345 non-null   object
dtypes: datetime64[ns](1), object(27)
memory usage: 1.3+ MB

In [3]:
# parece que hay un problema con los nombres de las columnas así que vamos a acceder a las columnas por el indice.
# creamos un dataframe con la selección de las máquinas linux
linux_df = df[df.iloc[:, 11] == 'Linux']
# agrupamos por la columna 'Name'
grouped_linux_df = linux_df.groupby('Name')
# mostramos el numero de grupos distintos
print(f'Número de maquinas Linux: {len(grouped_linux_df)}')

Número de maquinas Linux: 466

In [4]:
# parece que hay un problema con los nombres de las columnas así que vamos a acceder a las columnas por el indice.
# creamos un dataframe con la selección de las máquinas Windows
windows_df = df[df.iloc[:, 11] == 'Windows']
# agrupamos por la columna 'Name'
grouped_windows_df = windows_df.groupby('Name')
# mostramos el numero de grupos distintos
print(f'Número de maquinas Windows: {len(grouped_windows_df)}')

Número de maquinas Windows: 448

In [5]:
# parece que hay un problema con los nombres de las columnas así que vamos a acceder a las columnas por el indice.
# creamos un dataframe con la selección de las máquinas Windows
AIX_df = df[df.iloc[:, 11] == 'AIX']
# agrupamos por la columna 'Name'
grouped_AIX_df = AIX_df.groupby('Name')
# mostramos el numero de grupos distintos
print(f'Número de maquinas AIX: {len(grouped_AIX_df)}')

Número de maquinas AIX: 2

In [6]:
# parece que hay un problema con los nombres de las columnas así que vamos a acceder a las columnas por el indice.
# creamos un dataframe con la selección de las máquinas Windows
hpux_df = df[df.iloc[:, 11] == 'HP-UX']
# agrupamos por la columna 'Name'
grouped_hpux_df = hpux_df.groupby('Name')
# mostramos el numero de grupos distintos
print(f'Número de maquinas hpux: {len(grouped_hpux_df)}')

Número de maquinas hpux: 7

In [8]:
# parece que hay un problema con los nombres de las columnas así que vamos a acceder a las columnas por el indice.
# creamos un dataframe con la selección de las máquinas Windows
backup_df = df[df.iloc[:, 11] == 'Backup']
# agrupamos por la columna 'Name'
grouped_backup_df = backup_df.groupby('Name')
# mostramos el numero de grupos distintos
print(f'Número de maquinas backup: {len(grouped_backup_df)}')

Número de maquinas backup: 25

In [9]:
# parece que hay un problema con los nombres de las columnas así que vamos a acceder a las columnas por el indice.
# creamos un dataframe con la selección de las máquinas Windows
ibmi_df = df[df.iloc[:, 11] == 'IBM i']
# agrupamos por la columna 'Name'
grouped_ibmi_df = ibmi_df.groupby('Name')
# mostramos el numero de grupos distintos
print(f'Número de maquinas ibmi: {len(grouped_ibmi_df)}')

Número de maquinas ibmi: 5

In [10]:
# parece que hay un problema con los nombres de las columnas así que vamos a acceder a las columnas por el indice.
# creamos un dataframe con la selección de las máquinas Windows
citrix_df = df[df.iloc[:, 11] == 'Citrix']
# agrupamos por la columna 'Name'
grouped_citrix_df = citrix_df.groupby('Name')
# mostramos el numero de grupos distintos
print(f'Número de maquinas citrix: {len(grouped_citrix_df)}')

Número de maquinas citrix: 2

In [11]:
# parece que hay un problema con los nombres de las columnas así que vamos a acceder a las columnas por el indice.
# creamos un dataframe con la selección de las máquinas Windows
powervm_df = df[df.iloc[:, 11] == 'PowerVM']
# agrupamos por la columna 'Name'
grouped_powervm_df = powervm_df.groupby('Name')
# mostramos el numero de grupos distintos
print(f'Número de maquinas powervm: {len(grouped_powervm_df)}')

Número de maquinas powervm: 2

In [12]:
# parece que hay un problema con los nombres de las columnas así que vamos a acceder a las columnas por el indice.
# creamos un dataframe con la selección de las máquinas Windows
storage_df = df[df.iloc[:, 11] == 'Storage']
# agrupamos por la columna 'Name'
grouped_storage_df = storage_df.groupby('Name')
# mostramos el numero de grupos distintos
print(f'Número de maquinas storage: {len(grouped_storage_df)}')

Número de maquinas storage: 8

In [13]:
# parece que hay un problema con los nombres de las columnas así que vamos a acceder a las columnas por el indice.
# creamos un dataframe con la selección de las máquinas Windows
vmware_df = df[df.iloc[:, 11] == 'VMware']
# agrupamos por la columna 'Name'
grouped_vmware_df = vmware_df.groupby('Name')
# mostramos el numero de grupos distintos
print(f'Número de maquinas vmware: {len(grouped_vmware_df)}')

Número de maquinas vmware: 61

In [14]:
# parece que hay un problema con los nombres de las columnas así que vamos a acceder a las columnas por el indice.
# creamos un dataframe con la selección de las máquinas Windows
other_df = df[df.iloc[:, 11] == 'Other']
# agrupamos por la columna 'Name'
grouped_other_df = other_df.groupby('Name')
# mostramos el numero de grupos distintos
print(f'Número de maquinas other: {len(grouped_other_df)}')

Número de maquinas other: 13

In [16]:
# parece que hay un problema con los nombres de las columnas así que vamos a acceder a las columnas por el indice.
# creamos un dataframe con la selección de las máquinas Windows
network_df = df[df.iloc[:, 11] == 'Network']
# agrupamos por la columna 'Name'
grouped_network_df = network_df.groupby('Name')
# mostramos el numero de grupos distintos
print(f'Número de maquinas network: {len(grouped_network_df)}')

Número de maquinas network: 2382

In [31]:
# numero de maquinas red hat:
redhat_df = df[(df.iloc[:, 11] == 'Linux') & (df.iloc[:,12].str[0:12] == 'Linux RedHat')]
# agrupamos por la columna 'Name'
grouped_redhat_df = redhat_df.groupby('Name')
# mostramos el numero de grupos distintos
print(f'Número de maquinas Linux Red Hat: {len(grouped_redhat_df)}')

Número de maquinas Linux Red Hat: 345

In [33]:
lista_maquinas = ['Linux', 'Windows', 'AIX', 'HP-UX', 'Backup', 'IBM i', 'Citrix', 'PowerVM', 'Storage', 'Other', 'Network','RedHat']
lista_cantidades = [len(grouped_linux_df), len(grouped_windows_df), len(grouped_AIX_df), len(grouped_hpux_df), \
                    len(grouped_backup_df), len(grouped_ibmi_df), len(grouped_citrix_df), len(grouped_powervm_df), len(grouped_storage_df), len(grouped_other_df), len(grouped_network_df), len(grouped_redhat_df)]
todos_los_datos = {'Tipo_maquina': lista_maquinas, 'Cantidad': lista_cantidades}
df_datos = pd.DataFrame(todos_los_datos)
print(df_datos)

   Tipo_maquina  Cantidad
0         Linux       466
1       Windows       448
2           AIX         2
3         HP-UX         7
4        Backup        25
5         IBM i         5
6        Citrix         2
7       PowerVM         2
8       Storage         8
9         Other        13
10      Network      2382
11       RedHat       345